.zhifu_tab{ background:#fff;}
.zhifu_tab .jq_TabTitle li{width:33%;}
.zhifu_tab .jq_TabContent{padding-bottom:20px; background:#fff;}

.zfb_box{width:90%; margin:20px auto; border:#e9e9e9 solid 1px; background:#f4f4f4; height:62px; line-height:62px; text-align:center;}
.zfb_box img{ vertical-align:middle; padding-right:5px;}
.zfb_box a{ display:block; color:#404344; font-size:18px;}

.zhifu_type{ background:#fff;}
.zhifu_type li{ height:54px;padding:10px 10px 10px 84px; display:block; border-bottom:1px solid #e4e4e4; position:relative;}
.zhifu_type li s{ position:absolute; background:url(../images/zf_icon.png) no-repeat; background-size:80px 229px;width:54px; height:54px;left:15px; top:10px;}
.zhifu_type li s.weixin{background-position:-10px -1px;}
.zhifu_type li s.zfb{ background-position:-10px -89px;}
.zhifu_type li s.kq{background-position:-10px -171px;}

.zhifu_type li h3{ font-size:18px; color:#333;}
.zhifu_type li p{ color:#888; padding-top:4px;}

.fenqifukuan_box {width:100%; text-align:center;}
@media screen and (max-width:640px){
.fenqifukuan_box{margin:0 auto;}
.fenqifukuan_box>img{width:94%;}
	}