<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ConsoleApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--客服密码 @@@ md5 value:2ee17599597d02dbf88b829798db0518-->
    <add key="KeFuPwd" value="2ee17599597d02dbf88b829798db0518" />
    <!--是否系统维护 1：维护中 0：运行中-->
    <add key="IsSysWeiHu" value="0" />
    <!--系统维护提示消息-->
    <add key="SysWeiHuXiaoXi" value="您好，系统正在维护中(2013-01-23 17:00~2013-01-23 17:30)，请稍候，给您的工作带来不便，请谅解。" />
    <!--卖家账号-->
    <add key="AlipayAccount" value="HIT_huarong@126.com" />
    <!-- 平台192.168.1.254 Google Maps API KEY begin-->
    <add key="GoogleMapsAPIKEY" value="ABQIAAAAAddzuGlRP0eRiypr-SyJhRTVlbaUlGBn8yhIAwv4xN3VuLXsGhR2qiBO8xpwQ7V1x1drJIWprBMQUA" />

    <!-- 平台192.168.1.254  Google Maps API KEY end-->
    <!-- 平台192.168.1.254  baidu Maps API KEY begin-->
    <add key="baiduMapAPIKEY" value="2F0K5eVGt0eFGXy6oWKgyNRY" />
    <!-- 平台192.168.1.254  baidu Maps API KEY end-->
    <!--TMIS项目API调用的密钥-->
    <add key="BJZT_APIKey" value="708be579-01b1-4e18-af84-771ea1181718"/>

    <add key="ProviderDefaultPassword" value="123456" />

    <!--短信账号-->
    <add key="SMS_Username" value="yn3"/>
    <!--短信密码-->
    <add key="SMS_Pwd" value="57156884615"/>

    <!--景区酒店等接口-->
    <!--光大微信-->
    <add key="GDWXAddress" value="http://www.gly999.com/commonQueryServlet"/>
    <add key="GDWXLoginName" value="hzja" />
    <add key="GDWXPassword" value="123456" />
    <!--中旅景区-->
    <add key="ZLJRServiceSeekerAddress" value="http://www.zljr.cn/ipaou/sightagentservice.asmx" />
    <add key="ZLJRLoginName" value="hzja" />
    <add key="ZLJRPassword" value="hzja123456" />
    <!--中旅酒店地标-->
    <add key="ZLCommonServiceSeekerAddress" value="http://oa.zjctsg.com/UPIF/MytuiIF.asmx"  />
    <add key="ZLCommonLoginName" value="GLDLHZJA" />
    <add key="ZLCommonPassword" value="79C03063K4547F8224" />
    <!--<add key="ZLCommonServiceSeekerAddress" value="http://183.129.209.226:8888/MytuiIF.asmx"  />-->

    <add key="WSDL_Cache" value="true"/>
    <!--生产：http://dlink.sohoto.com/directlink/send.do   测试：http://202.106.139.49:9090/directlink/send.do-->
    <add key="HOTELBE_ADDRESS" value="http://dlink.sohoto.com/directlink/send.do"/>
    <add key="HOTELBE_OFFICEID" value="ZJF599"/>
    <add key="HOTELBE_OFFICECODE" value=" "/>
    <add key="HOTELBE_VERSION" value="2.0.0"/>
    <add key="HOTELBE_USEID" value="zjf59900C"/>
    <add key="HOTELBE_PASSWORD" value="888999"/>
    <add key="HOTELBE_PROXYADDR" value=""/>
    <add key="HOTELBE_PROXYPORT" value=""/>
    <add key="HOTELBE_IF_PROXY" value="N"/>

    <add key="BokServiceSeekerAddress" value="http://www.boktour.com/Service/BokService.asmx"  />
    <add key="BokLoginName" value="hzja" />
    <add key="BokPassword" value="654321" />
    <add key="Interface_GuoNeiXianLu_CacheMinutes" value="30"  />
    <!--接口webservice等待分钟-->
    <add key="WSWaitMinutes" value="3"  />
    <!--手机注册的账号验证码获取时间间隔-->
    <add key="CodeGetFrequency" value="1"  />
    <!--手机注册的账号验证码过期时间-->
    <add key="VerifyCodeExpire" value="10"  />
    <!--手机注册的账号默认密码-->
    <add key="MobileRegisteredMemberDefaultPassword" value="111111"  />

    <!--旅游圈商家Key-->
    <add key="lyqKey" value="03746C89E51C4464B49CF8090B49147A"/>
    <!--旅游圈获取XML接口地址-->
    <add key="lyqAddress" value="http://api.lvyouquan.cn"/>
    <!--旅游圈非获取XML接口地址-->
    <add key="lyqAddressNoXML" value="http://service.lvyouquan.cn"/>
  </appSettings>


  <connectionStrings>
    <add name="SystemStore" connectionString="Data Source=192.168.1.254;Initial Catalog=hzjalydb;Persist Security Info=True;User ID=sa;Password=enow" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <applicationSettings>
    <ConsoleApp.Properties.Settings>
      <setting name="ConsoleApp_HappytooService_Line" serializeAs="String">
        <value>http://www.ws.happytoo.cn:8016/line.asmx</value>
      </setting>
    </ConsoleApp.Properties.Settings>
  </applicationSettings>
</configuration>
