<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="SystemStore" connectionString="Data Source=192.168.1.254;Initial Catalog=hzjalydb;Persist Security Info=false;User ID=sa;Password=enow" providerName="System.Data.SqlClient"/>
        <add name="HotelStore" connectionString="Data Source=192.168.1.254;Initial Catalog=hzjalydb;Persist Security Info=false;User ID=sa;Password=enow" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <appSettings>
        <!--<add key="Linq.sqllogdir" value="sqlog"/>-->
    </appSettings>
</configuration>