.main_visual{width:100%;overflow:hidden;position:relative;}
.main_image{height:100%;overflow:hidden;position:relative;}
.main_image ul{width:9999px;overflow:hidden;position:absolute;top:0;left:0}
.main_image li{float:left;width:100%;height:100%;}
.main_image li a{display:block;width:100%;height:100%}
.main_image ul li img{width:100%;height:auto;vertical-align:top;}


div.flicking_con{position:absolute;bottom:10px;left:0;z-index:99;height:10px;width:100%; text-align:center;}
div.flicking_con a{ display: inline-block;
	width: 8px;height:8px;margin-right:5px;background:#9d9d9d;border:1px solid #f4f4f4;z-index:9999;-webkit-box-shadow:0 2px 2px rgba(0, 0, 0, 0.5),  inset 0 1px 0px rgba(255, 255, 255, 0.4);box-shadow:0 2px 2px rgba(0, 0, 0, 0.5),  inset 0 1px 0px rgba(255, 255, 255, 0.4); -webkit-border-radius:50%; -moz-border-radius:50%;-ms-border-radius:50%;border-radius:50%; text-indent:-9999px;}
div.flicking_con a.on{background:#2064c8;border:1px solid #fff;}