<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!--=========================== 一个时钟任务 ============================= -->
	<bean id="updateHotelsCacheJob" class="com.travelsky.hotelbeloader.tools.UpdateHotelsCacheTool">
		<property name="hotels">
			<value>SOHOTO9124</value>
		</property>
	</bean>
	<bean id="updateHotelsCacheTask"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<!-- 调用的类 -->
		<property name="targetObject">
			<ref bean="updateHotelsCacheJob" />
		</property>
		<!-- 调用类中的方法 -->
		<property name="targetMethod">
			<value>work</value>
		</property>
	</bean>
	<bean id="updatehotelcron" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="updateHotelsCacheTask" />
		</property>
		<property name="cronExpression">
			<value>0 50 23 * * ?</value>
		</property>
	</bean>
</beans> 