<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!--=========================== 一个时钟任务 ============================= -->
	<bean id="updateRoomTypeCacheJob" class="com.travelsky.hotelbeloader.tools.UpdateRoomTypeCacheTool">
		<property name="span">
			<value>1440</value><!-- 以小时为单位 -->
		</property>
	</bean>
	<bean id="updateRoomTypeCacheTask"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<!-- 调用的类 -->
		<property name="targetObject">
			<ref bean="updateRoomTypeCacheJob" />
		</property>
		<!-- 调用类中的方法 -->
		<property name="targetMethod">
			<value>work</value>
		</property>
	</bean>
	<bean id="updateroomtypecron" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<ref bean="updateRoomTypeCacheTask" />
		</property>
		<property name="cronExpression">
			<value>0 50 23 * * ?</value>
		</property>
	</bean>
</beans> 