<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<!-- <session-factory>
		<property name="connection.username">root</property>
		<property name="connection.password">marion</property>
		<property name="connection.url">
			jdbc:mysql://localhost:3306/hotelbesdkdb
	</property>
		<property name="connection.driver_class">
			org.gjt.mm.mysql.Driver
	</property>
		<property name="dialect">
			org.hibernate.dialect.MySQLDialect
	</property> -->
<!--	<session-factory>
		<property name="connection.username">hotel</property>
		<property name="connection.password">hotel</property>
		<property name="connection.url">
			jdbc:oracle:thin:@172.24.2.75:1521:ORCL
	</property>
		<property name="connection.driver_class">
			oracle.jdbc.driver.OracleDriver
	</property>
		<property name="dialect">
			org.hibernate.dialect.OracleDialect
	</property>
	</session-factory>
-->
	<session-factory>
		<property name="connection.username">sa</property>
		<property name="connection.password">enow</property>
		<property name="connection.url">
			jdbc:sqlserver://192.168.1.254:1433;DatabaseName=hzjalydb
	</property>
		<property name="connection.driver_class">
			com.microsoft.sqlserver.jdbc.SQLServerDriver
	</property>
		<property name="dialect">
			org.hibernate.dialect.SQLServerDialect
	</property>
	</session-factory>
</hibernate-configuration>